* {
  margin: 0 auto;
  padding: 0;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* start 1st part */
section {
  background-image: url("../images/banner/banner2.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 1540px;
  height: 650px;
  display: flex;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content h2 {
  font-size: 65px;
  margin-bottom: 20px;
  margin-left: 700px;
  line-height: 80px;
  text-align: right;
  width: 40%;
  height: 5%;
}

.content p {
  margin-top: 20px;
  margin-left: 850px;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  justify-content: right;
  color: #444343;
  width: 30%;
  height: 5%;
}

button {
  margin-top: 20px;
  margin-left: 1160px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f15b22;
  padding: 21px 25px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/* End 1st part */
