* {
  margin: 0 auto;
  padding: 0;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* start 1st part */

#main-container {
  background-image: url("../images/banner/banner2.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 1540px;
  height: 650px;
  display: flex;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content h2 {
  font-size: 65px;
  margin-bottom: 20px;
  margin-left: 700px;
  line-height: 80px;
  text-align: right;
  width: 40%;
  height: 5%;
}

.content p {
  margin-top: 20px;
  margin-left: 850px;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  justify-content: right;
  color: #444343;
  width: 30%;
  height: 5%;
}

button {
  margin-top: 20px;
  margin-left: 1160px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f15b22;
  padding: 21px 25px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/* End 1st part */

/* 2nd part start  */

#second-container {
  display: flex;
  width: 1072px;
  margin-top: 200px;
  margin-right: 322px;
  margin-bottom: 130px;
  margin-left: 206px;
  border: 2px solid red;
}

.image-side {
  width: 500px;
  gap: 20px;
}

.banner-content {
  width: 416px;
  align-items: center;
  justify-content: center;
}

.banner-content h2 {
  width: 288px;
  margin-left: 350px;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.banner-content p {
  color: #444343;
  width: 288px;
  margin-left: 350px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 26px;
}

.list {
  margin-top: 300px;
}

.list ul {
  color: #16d887;
  width: 349px;
  margin-bottom: 10px;
}


/* 3rd part start */

#thrid-container{
    margin-top: 100px;
    width: 1141px;
    border: 2px solid red;
}

.heading-container{
    text-align: center;
}

.heading-container h2{
    font-size: 40px;
    margin-bottom: 50px;
}

#thrid-container .container .skill-box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}